<!DOCTYPE html>
<html
  lang="en"
  data-theme="light"
  class="bg-gradient-to-br from-slate-800 to-slate-600 h-screen"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban Board - Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold text-primary-content">Full Stack Kanban</h1>
          <p class="py-6 text-primary-content">Create Your VERY OWN Todolist!</p>
          <div class="py-5">
            <button class="btn btn-primary"><a href="/signup"> Signup</a></button>
          </div>
          <button class="btn btn-link text-primary-content"><a href="/login"> Login</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
