<!DOCTYPE html>
<html lang="en" data-theme="light" class="bg-gradient-to-br from-slate-800 to-slate-600 h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban Board - Login</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
        el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
    
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input class="btn btn-primary" type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
